@keyframes zoomIn {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
 
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
 
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.solar-system {
    display: flex;
    gap: 10px;
}
 
.planet {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* terra */
.planeta-terra {
    width: 500px;
    height: 300px;
    transition: transform 0.3s ease;
}
 
.planeta-terra:hover {
    transform: scale(1.5);
}
 
.zoom-link {
    display: block;
    cursor: pointer;
}
 
.zoom-link:active .planeta-terra {
    animation: zoomIn 2s forwards;
}
/* marte*/
.marte {
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.planeta-jupiter {
    width: 400px;
    height: 400px;
    transition: transform 0.3s ease;
}
 
.planeta-jupiter:hover {
    transform: scale(1.5);
}
 
.zoom-link {
    display: block;
    cursor: pointer;
}
 
/* Correção: Aplica a animação ao clicar na imagem */
.zoom-link:active .planeta-jupiter {
    animation: zoomIn 2s forwards;
}